@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/kopubbatang.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");


/* 선택시 */
::selection { 
    background: #999;
    color: #999;
    text-shadow: none;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    position: relative;
    background-color: #000;
}

/* 레이아웃 기본 값 */

a, a:link, a:visited{ 
    color:#fff;
    text-decoration:none;
}

a:hover, a:active{
    color:#fff;
}

input{
    outline:none;
}

/* whole */
.page{
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #000;
    padding: 5px;
    z-index: 101;
}


/* Logo */
.home {
    left: 2vw;
    width: 0.5vw;
}
    .home .img-responsive{
        width: 10vw;
        height: 8vw;
    }

/* Top Menu */
            #burger-container{
                float: right;
                margin: 2vw 6vw 0 0;
                /* width: 20px; */
            }
            
            
            #burger{
                cursor:pointer;
                display:block;
            }
            
            
            #burger span{
                background: #FFF;
                display:block;
                width:30px;
                height:4px;
                margin-bottom: 5px;
                position: relative;
                top:0;
                transition: all ease-in-out 0.4s;  
            }
            
            #burger-container.open span:nth-child(2){
                width: 0;
                opacity:0;
                
            }
            
            #burger-container.open span:nth-child(1){
                transform: rotate(-45deg);
                top:9px;
            }
            
            #burger-container.open span:nth-child(3){
                transform: rotate(45deg);
                top:-9px;
            }

        #overlay_t {
            background-color: #000;
            bottom: 0;
            left: 0;
            opacity: 0.5;
            filter: alpha(opacity = 50);
            position: fixed;
            right: 0;
            top: 0;
            z-index: 99;
            display:none;
            padding : 20vw 0 0 0;
        }   
    
        #popup_layer {
            outline: none;
            position:absolute;
            opacity: 0.5;
            filter: alpha(opacity = 50);
            color: #999;
            z-index:100;
            display:none;
            text-align: center;
        }
            #popup_layer .popup_list{
               left: 46vw;
               bottom: 0;
               top: 0;
            }

            #popup_layer li a{
                color: #999;
                font-family: 'Roboto', sans-serif;
                font-size: 3vw;
            }

            #popup_layer .popup_list a:hover{
                color: #FFF;
                color: #FFF;
                opacity: 1;
            }

/* Main Image */
        #XXX_image{
            position: relative;
            margin: 3em 0 3em 0;
        }

/* Main */
    .main{
        position: relative;
        margin: 0;
        overflow: hidden;
    }
        .main.style1{
            text-align: center;
            padding: 0 0 0.35em 0;
        }
            .main.style1 h2 {
                font-size: 4em;
                line-height: 1em;
                letter-spacing: -4px;
            }

            .img-responsive{
                width: 70%;
                height: 40%;
            }

/* XXX-info */
    .XXX-info{
        margin: 4em 0 0.2em 3.5vw;
        color: #FFF;
    }
        .XXX-info .about{
            bottom: 1.2em;
            font-size: 1.2vw;
            font-style: italic;
            opacity: 0.6;
        }

        .XXX-info .about-content{
            font-size: 0.8vw;
        }

        #license{
            opacity: 0.6;
            font-size: 1vw;
            font-style: italic;
            line-height: 2em;
        }

/* Contact */
    #contact-icons{
        position: relative;
        height: 3em;
        line-height: 2em;
        margin: 0em;
        background-color: #000;
        color: #fff;
        color: #fff;
        font-size: 1.2vw;
        overflow: hidden;
    }
        #contact-icons a{
            color: #999;
            color: rgba(185, 186, 187, 0.5); 
        }
            #contact-icons a:hover{
                color: #bbb;
                color: #b9babb;
            }
        #contact-icons #float-icons{
            position: absolute;
            /* background-color: #000; */
            left: 1em;
            top: 0.25em;
            height: 3em;
            line-height: 3em;
            margin: 0;
        }

/* Footer */
    #footer {
        position: relative;
        height: 2em;
        line-height: 2em;
        margin: 0;
        padding: 0 0 0 0;
        background-color: #2b2b2b;
        color: #000;
        color: rgba(185, 186, 187, 0.5);
        overflow: hidden;
    }

        #footer a {
            color: #999;
            color: rgba(185, 186, 187, 0.5);
        }

            #footer a:hover {
                color: #bbb;
                color: #b9babb;
            }

        #footer .actions {
            position: absolute;
            left: 1em;
            top: 0.25em;
            height: 3em;
            line-height: 3em;
            margin: 0;
        }

            #footer .actions li {
                font-size: 1.25em;
                margin: 0;
            }

                #footer .actions li a {
                    padding: 0.5em;
                }

        #footer .copyright {
            position: absolute;
            right: 2vw;
            height: 2em;
            line-height: 2em;
            margin: 0;
        }

            #footer .copyright li {
                font-size: 0.9vw;
                background-color: #2b2b2b;
                color: #999;
            }

/* Shop Page */

/* header drop-down*/
    .season{
        position:relative;
        z-index: 2;
        width: 2vw;
        word-spacing: 3vw;
        font-size: 0.9vw;
        margin: -5vw 0 0 -25vw;
        color: #FFF;
    }

    .dropdown-season {
        display: none;
        position: absolute;
        padding: 0 0 0 0;
        background-color: #f9f9f9;
        /* min-width: 1.5vw; */
        width: 11vw;
        font-size: 1.1vw;
        box-shadow: 0vw 3vw 6vw 0vw rgba(0,0,0,0.2);
    }
    
    .dropdown-season a {
        color: black;
        background-color: #fff;
        padding: 1.2vw 1.6vw;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-season a:hover {
        background-color: #7D7E7F;
        color: #FFF;
    }
    
    .season:hover .dropdown-season {
        display: block;
    }
    
    .season:hover .dropbtn {
        background-color: #FFF;
        color: #000
    }

    .dropbtn {
        background-color: #2b2b2b;
        color: #FFF;
        padding: 0.7vw 0.5vw 0.7vw 0.5vw;
        font-size: 1.2vw;
        width: 11vw;
        z-index: 3;
        border: none;
        cursor: pointer;
    }

    /* img drop down */

    .img-dropbtn {
        position: relative;
        display: inline-block;
    }
    
    .img-dropbtn-content {
        display: none;
        position: absolute;
        top: -8vw;
        right: 5vw;
        background-color: #FFF;
        z-index: 1;
    }
        .first-dropbtn{
            z-index: 102;
        }

        .img-dropbtn-content .img-responsive{
            min-width: 25vw;
        }

    .img-dropbtn:hover .img-dropbtn-content {
        display: inline-block;
    }

    .desc {
        padding: 1vw;
        font-size: 0.7vw;
        background-color: #FFF;
        color: #000;
        text-align: center;
    }

/* shop items view */
    #shop-items{
        position: relative;
        padding: 3.5vw;
        padding: 3.5vw 3.5vw 3.5vw 30vw;
        background-color: #000;
        color: #999;
    }
        #shop-items li .img-responsive{
            width: 20vw;
            height: 16vw;
        }

        table td{
            padding: 0 0 0 2vw;
            font-size: 1.7vw;
            vertical-align: -webkit-baseline-middle;
        }
            table td .goods-detail{
                padding: 3vw 0 0 0;
            }

/* login */

#login-form{
    margin: 13vw 40vw 0 40vw;
}

    .login{
        color: #fff;
        vertical-align: -webkit-baseline-middle;
    }

    .login-text{
        background-color: #000;
        color: #FFF;
        border-left: #FFF;
        border-right: #FFF;
        border-top: #FFF;
        vertical-align: -webkit-baseline-middle;
        font-size: 1.4vw;
    }

    .login-title{
        font-size: 1.2vw;
    }
        .login-submit{
            padding: 6vw 0 0 3vw;
            font-size: 1.2vw;
            z-index: 1;
        }

        .submitbtn{
            width: 10vw;
            height: 5vw;
            opacity: 0.7;
        }
            .login-submit a :hover{
                opacity: 1;
            }
        
    
    #set-id{
        position: relative;
        margin: 1vw 0 0 42vw;
        font-size: 1vw;
    }
    #set-id li a{
        color: #7D7E7F;
    }
        #set-id .find-create :hover{
            color: #FFF;
        }